# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
ENV/

# Build / package
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated outputs
outputs/
data/Tablo3_Output.xlsx
data/Tablo4_Output.xlsx
